<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<th:block th:insert="~{_commun :: head}"></th:block>



<body>

	<th:block th:insert="~{_commun :: header}"></th:block>

	<main class="container-fluid">
		<h1>Eleve Index</h1>
		<div class="p-4 mt-5" th:each="quiz:${quizs}" style="width: 100%; margin: auto;">
			<div class="card" style="width: 18rem; border-radius: 15px">
				<div class="card-body text-center">
					<span th:text="${quiz.id}"></span>
					<h5 class="card-title">Quiz</h5>
					<hr style="margin: 0; padding: 0" />
					<p class="card-text" >Titre: <span th:text="${quiz.titre}"></span></p>
					<p class="card-text" th:text="${quiz.duree}">Durée</p>
					<p class="card-text" th:text="${quiz.date_debut}">Date debut</p>
					<p class="card-text" th:text="${quiz.date_expiration}">Date expiration</p>
					<hr style="margin: 0; padding: 0" />
					<a th:href="@{/user/quiz/done/examen/__${quiz.id}__}" class="btn btn-success mt-2">Faire Quiz</a>
				</div>
			</div>

		</div>

	</main>

	<th:block th:insert="~{_commun :: footer}"></th:block>

</body>
</html>