<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<th:block th:insert="~{_commun :: head}"></th:block>

<body>
	<th:block th:insert="~{_commun :: header}"></th:block>
	<main class="container-fluid">


		<div class=" card p-4 mt-5" style="width: 60%; margin: auto">
			<h2 class="">Votre Moyenne Générale</h2>
			<hr />
		
			<table class="table mt-3 table-dark table-striped-columns">
				<tbody>
					<tr>
						<th>Type Quiz</th>
						<td th:each="faire : ${faires} " th:text="${faire.getQuiz().getTitre()}" ></td>
						<td></td>
					</tr>
					<tr>
						<th>List des notes</th>
						<td  th:each="faire : ${faires} " th:text="${faire.getNote()}" ></td>
						<td></td>
					</tr>
					<tr class="">
						<td>Moyenne General</td>
						<td th:each="faire : ${faires} "></td>
						<td th:text="${moyenne}"/>
					</tr>
				</tbody>
			</table>
		</div>



	</main>


	<th:block th:insert="~{_commun :: footer}"></th:block>
</body>
</html>