<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<th:block th:insert="~{_commun :: head}"></th:block>

<body>
	<th:block th:insert="~{_commun :: header}"></th:block>
	<main class="container-fluid">


		<div class=" card p-4 mt-5" style="width: 30%; margin: auto">
			<h2 class="">Add Optionquestion</h2>
			<form th:action="@{/admin/optionQuiz}"  method="post" th:object="${option}">

				<div class="">
					<div class=" form-group mb-2">
						<input type="text" class="form-control" th:field="*{text_option}"
							placeholder="Veillez entrer un titre" />
					</div>

					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" th:value="${est_correct}" th:field="*{est_correct}" role="switch" id="flexSwitchCheckChecked" checked>
						 <label class="form-check-label" for="flexSwitchCheckChecked">Est correct?</label>
					</div>
					<div class=" form-group mb-2">

						<select class="form-select" th:field="*{question}"aria-label="Default select example">
							<option th:each="question : ${questions}" th:value="${question.id_question}" th:text="${question.libelle}"></option>							
						</select>
					</div>

				</div>

				<div class=" form-group">
					<button type="submit" class="btn btn-success form-control">Ajouter Option</button>
				</div>

			</form>
		</div>



	</main>


	<th:block th:insert="~{_commun :: footer}"></th:block>
</body>
</html>