<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<th:block th:insert="~{_commun :: head}"></th:block>

<body>
	<th:block th:insert="~{_commun :: header}"></th:block>
	<main class="container-fluid">


		<div class=" card p-4 mt-5" style="width: 60%; margin: auto">
			<h2 class="">List Questions</h2>
			<hr />
			<table class="table">
				<thead>
					<tr>
						<th scope="col">id</th>
						<th scope="col">Libelle Question</th>
						<th scope="col">Type Question</th>
						<th scope="col">Nombre de point</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						
					</tr>
				</tbody>
			</table>
		</div>



	</main>


	<th:block th:insert="~{_commun :: footer}"></th:block>
</body>
</html>