<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<th:block th:insert="~{_commun :: head}"></th:block>

<body>
	<th:block th:insert="~{_commun :: header}"></th:block>
	<main class="container-fluid">


		<div class=" card p-4 mt-5" style="width: 60%; margin: auto">
			<h2 class="">List quiz</h2>
			<hr />
			<a class="btn btn-success" th:href="@{/admin/quiz/add}" >Add quiz</a>
			<table class="table mt-3">
				<thead>
					<tr>
						<th scope="col">id</th>
						<th scope="col">Titre</th>
						<th scope="col">Nombre question</th>					
						<th scope="col">Date debut</th>
						<th scope="col">Date expiration</th>
						<th scope="col">Action</th>
						<th scope="col"></th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each = "quiz: ${quizs}">
						<td th:text="${quiz.id}"></td>
						<td ><a th:text="${quiz.titre}" th:href="@{/admin/question/listQuestion/__${quiz.id}__}"></a>  </td>
						<td> <p class="text-center" style="height:25px; width:25px; background-color:#71C5CC; border-radius:10px; margin-left: 5px">[[${quiz.nbQuestion}]]</p> </td>
						<td th:text="${quiz.date_debut}"></td>
						<td th:text="${quiz.date_expiration}"></td>
						<td>
							<a th:href="@{/quiz/update/admin/__${quiz.id}__}"><i class="fa-solid fa-pen"></i></a>
							- 
							<a th:href="@{/quiz/delete/admin/__${quiz.id}__}"><i class="fa-solid fa-trash"></i></a>
						</td>
						<td>
							<a class="btn btn-primary" th:href="@{/admin/question/add/__${quiz.id}__}">Add question</a>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>



	</main>


	<th:block th:insert="~{_commun :: footer}"></th:block>
</body>
</html>