<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<body>

<main class="container-fluid">
    <h2 class="text-center">Connexion</h2>

    <form th:action="" method="post">

        <div class="row">

            <div class="col-6 form-group">
                <label>Login</label>
                <input type="text" name="login" class="form-control" />
            </div>
            <div class="col-6 form-group">
                <label>Password</label>
                <input type="password" name="mdp" class="form-control" />
            </div>
        </div>

        <div class="col-6">
            <input type="submit" class="btn btn-success mt-4" />
        </div>

    </form>

</main>


</body>
</html>